<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
  <script src="{{ 'script.js' | asset_url }}" defer></script>
</head>
<body>
  {{ content_for_layout }}
</body>
</html>
